@model ParrotWingsMVC.Transactions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrespondentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrespondentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
